@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@500&display=swap");

.headQuote {
    position: relative;
    width: 641px;
    height: 112px;
    left: calc(50% - 641px / 2 + 0.5px);
    top: 25%;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #28514f;
}

.wrapper {
    display: grid;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* grid-template-rows: 50%; */
  
}

.quote {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #626464;
    text-align: center;
}

.appStore {
    color: white;
    background-color: #28514f;
    border-radius: 30px;
    margin: 30px;
    margin-left: 10%;
    width: 25%;
    height: 56px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
}

.appStore:hover {
    background-color: #1e4442;
}

.playMarket {
    color: white;
    background-color: #aeb4b6;
    border-radius: 30px;
    margin: 30px;
    margin-left: 20%;
    width: 25%;
    height: 56px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
}

.playMarket:hover {
    background-color: #a9abac;
}

.profile {
    position: relative;
    justify-content: space-around;
    align-items: center;
    left: -0.19px;
    width: 100%;
    height: 100%;
    margin-top: 20%;
}
.container {
    margin-top: 20%;
}

.line {
    position: relative;
    width: 157px;
    height: 3px;
    left: 4%;
    align-items: center;
    background: rgba(27, 31, 43, 0.12);
    border-radius: 40px;
}

.headQuote {
    position: relative;
    width: 641px;
    height: 112px;
    left: calc(50% - 641px / 2 + 0.5px);
    top: -5.89px;
    padding: 0;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #28514f;
}

.quote {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #626464;
    text-align: center;
}


.boxOne {
    position: relative;
    width: 460px;
    height: 768px;
    right: 25%;
    top: 7rem;
    background: #dae1f4;
    border-radius: 20px;
}

.img {
    position: absolute;
    left: 10.87%;
    right: 10.87%;
    top: calc(50% - 321px / 2 - 163.5px);
}

.textBox {
    position: absolute;
    height: 95px;
    left: 10%;
    right: 0.83%;
    top: 60%;
    color: #1b1f2b;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.boxQuote {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b1f2b;
    text-align: start;
    top: 80%;
    padding: 0 50px;
}

.boxTwo {
    position: relative;
    float: left;
    width: 460px;
    height: 866px;
    left: 55%;
    right: 15%;
    bottom: 41rem;
    background: #D0E6F3;
    border-radius: 20px;
}

@media (max-width: 900px){
  .boxTwo {
    display: none;

  }
  .boxFour {
      display: none;
      position: fixed;
  }
  }

  .blueImg {
    position: absolute;
    left: 10.87%;
    right: 10.87%;
    top: calc(50% - 391px/2 + 187.5px);
  }

  .blueText {
    position: absolute;
    height: 95px;
    left: 10%;
    right: 0.83%;
    top:8%;
    color: #1b1f2b;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }

  .blueQuote {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b1f2b;
    text-align: start;
    top: 30%;
    padding: 0 50px;
  }

  .boxThree {
    position: relative;
    width: 460px;
    height: 832px;
    right: 25%;
    bottom: 35rem;
    background: #E0F0E6;
    border-radius: 20px;
  }

  .boxFour {
    position: relative;
    float: left;
    width: 460px;
    height: 771px;
    left: 55%;
    right: 15%;
    bottom: 81rem;
    background: #F4F0E9;
    border-radius: 20px;
  }

  .reviewBox {
    position: relative;
    width: 294px;
    height: 230px;
    left: 0%;
    right: 0%;
    top: 0px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 20px;
  }

  .textReview {
    position: relative;
    height: 60px;
    left: 5%;
    top: 28px;
    font-family: "Merriweather" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #1B1F2B;
    text-align: start;
  }

  .starsImg {
      position: relative;
      height: 23px;
      left: 10.54%;
      right: 44.9%;
      top: 10rem;
  }