.main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: grid;
    padding: 2rem 0;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.boxOne {
    padding: 2rem;
    margin: 2rem;
    width: 460px;
    height: 768px;
    background: #dae1f4;
    border-radius: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}
.boxTwo {
    padding: 1rem 2rem 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    width: 460px;
    height: 800px;
    background: #d0e6f3;
    border-radius: 20px;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.boxThree {
    padding: 3rem;
    margin: 0;
    width: 460px;
    height: 832px;
    margin-left: 2rem;
    background: #e0f0e6;
    border-radius: 20px;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

.boxFour {
    padding: 4rem 2rem;
    width: 460px;
    height: 771px;
    background: #f4f0e9;
    border-radius: 20px;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.blueText {
    height: 95px;
    color: #1b1f2b;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-left: 1.4rem;
    margin-bottom: 2rem;
}

.blueQuote {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b1f2b;
    text-align: start;
    padding: 1.5rem 1.5rem 0;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.textBox {
    height: 95px;
    color: #1b1f2b;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-left: 1.4rem;
    margin-bottom: 1rem;
}

.reviewBox {
    padding: 1.5rem;
    margin: 0 20rem;
    width: 294px;
    height: 230px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 20px;
}

.headQuote {
    width: 641px;
    height: 112px;
    margin-left: 10.3rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #28514f;
}

.quote {
    margin: 0 0 1.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #626464;
    text-align: center;
}

.textReview {
    height: 60px;
    left: 5%;
    top: 28px;
    font-family: "Merriweather" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #1b1f2b;
    text-align: start;
}

.boxQuote {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b1f2b;
    text-align: start;
    top: 90%;
    padding: 1.5rem 1.5rem 0;
    margin-bottom: 2rem;
}

.starsImg {
    margin-top: 2rem;
}

@media screen and (max-width: 900px) {
    .boxes {
        display: block;
        margin: 0 13rem;
    }
    .boxTwo {
        margin-left: 2rem;
    }
    .boxFour {
        margin: 2rem;
    }
    .boxQuote {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .boxOne {
        padding: 1rem 1.2rem;
        margin: 0 0 2rem 7rem;
        width: 300px;
        height: 505px;
    }

    .textBox {
        color: #1b1f2b;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 35px;
        margin: 0;
        padding: 0 0 0 1.8rem;
    }

    .boxQuote {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 13.6px;
        color: #1b1f2b;
        text-align: start;
        padding: 0 1rem 0 1.8rem;
        margin: 0;
    }
    /* 2ND BOX */
    .boxTwo {
        padding: 1rem 1.2rem;
        margin: 0 0 2rem 7rem;
        width: 300px;
        height: 580px;
        background: #d0e6f3;
    }
    .blueText {
        color: #1b1f2b;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 30px;
        margin: 0;
        padding: 0 0 1rem 1.8rem;
    }

    .blueQuote {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 13.6px;
        color: #1b1f2b;
        text-align: start;
        padding: 0.5rem 1rem 1rem 1.8rem;
        margin: 0;
    }
    /* 3RD BOX */
    .boxThree {
        padding: 1rem 1.2rem;
        margin: 0 0 2rem 7rem;
        width: 300px;
        height: 580px;
    }
    /* 4TH BOX */
    .boxFour {
        padding: 1rem 1.2rem;
        margin: 0 0 2rem 7rem;
        width: 300px;
        height: 580px;
    }
    .headQuote {
        font-size: 1.8rem;
        /* margin-right: rem; */
    }
    .quote {
        font-size: 0.75rem;
    }
}
