.container {
    display: grid;
    justify-content: center;
    flex-direction: column;
}

.boxWrapper {
    height: 700px;
    background-color: #28514f;
    padding: 11rem 38rem;
    margin-top: 10rem;
}

.headQuote {
    width: 583px;
    height: 112px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
}

.quote {
    width: 610px;
    height: 64px;
    font-family: "Montserrat", sans-serif;
    margin: 1rem;
    font-style: normal;
    font-weight: 450;
    font-size: 0.9rem;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}

.infoButton {
    color: #28514f;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 60px;
    margin-left: 32%;
    width: 204px;
    height: 55px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
}

.text {
    width: 350px;
    height: 95px;
    margin-left: 2.5rem;
    margin-top: 5rem;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #333333;
}

.appStore {
    color: white;
    background-color: #28514f;
    border-radius: 30px;
    margin-top: 8%;
    margin-left: 15%;
    width: 35%;
    height: 56px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.appStore:hover {
    background-color: #1e4442;
}

.playMarket {
    color: white;
    background-color: #949899;
    border-radius: 30px;
    margin-left: 10%;
    width: 35%;
    height: 56px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.playMarket:hover {
    background-color: #85898b;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 55rem;
    height: 19.3rem;
    background: #f8e6be;
    margin: 5rem 28rem;
}
.profile {
    width: 419px;
    height: 460px;
    margin-left: 5rem;
}

.headText {
    width: 641px;
    height: 112px;
    font-family: "DM Serif Display", serif;
    margin-left: 38rem;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #28514f;
}

.textQuote {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: calc(16px + 0.01vh);
    color: #65727b;
    text-align: center;
}

.email {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.inputForm {
    display: inline-block;
    width: 276px;
    height: 60px;
    border: none;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: black;
    background: #ffffff;
    box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
    border-radius: 40px 0px 0px 40px;
}

.inputForm:focus {
    outline: none;
}

.confirmButton {
    width: 6rem;
    height: 60px;
    left: 42%;
    right: 0%;
    top: 0px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 36px;
    background: #28514f;
    box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
    border-radius: 0px 40px 40px 0px;
}

.confirmButton:hover {
    background: #21413f;
}

.logo {
    flex: 0 0 60px;
    cursor: pointer;
    margin-right: 56rem;
    max-width: 100%;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #28514f;
}

@media screen and (max-width: 900px) {
    .headQuote {
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .banner {
        width: 40rem;
        height: 10.9rem;
        margin: 5rem 0 4rem 36rem;
    }
    .text {
        margin-left: 2.5rem;
        margin-top: 1.2rem;
        font-size: 1.8rem;
        line-height: 47px;
    }
    .appStore {
        width: 30%;
        height: 45px;
        font-size: 13px;
        margin-top: 5%;
    }
    .playMarket {
        width: 30%;
        height: 45px;
        font-size: 13px;
    }
    .headText {
        font-size: 2.6rem;
        line-height: 2.4rem;
    }
    .quote {
        font-size: 2.1vw;
    }
}

@media screen and (max-width: 420px) {
    .boxWrapper {
        display: none;
    }
    .banner {
        width: 18.6rem;
        height: 10.9rem;
        margin: 5rem 0 4rem 23rem;
    }
    .text {
        margin-left: 0;
        margin-top: 1.2rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .headText {
        font-size: 10vw;
        line-height: 2.4rem;
        margin-left: 14.2rem;
    }
    .textQuote {
font-size: 2.8vw;
    }
}
