.container {
    display: grid;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boxWrapper {
    height: 700px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #28514f;
    padding: 15rem 37rem;
    margin-top: 10rem;
}

.headQuote {
    width: 583px;
    height: 112px;
    bottom: 6rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 4.8vmin;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
}

.quote {
    width: 610px;
    height: 64px;
    font-family: "Montserrat", sans-serif;
    margin: 1rem;
    font-style: normal;
    font-weight: 450;
    font-size: 1.8vmin;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}

.infoButton {
    color: #28514f;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 60px;
    margin-left: 32%;
    width: 204px;
    height: 55px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
}

.text {
    width: 350px;
    height: 95px;
    margin-left: 2.5rem;
    margin-top: 5rem;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #333333;
}

.appStore {
    color: white;
    background-color: #28514f;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 15%;
    width: 35%;
    height: 56px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.appStore:hover {
    background-color: #1e4442;
}

.playMarket {
    color: white;
    background-color: #aeb4b6;
    border-radius: 30px;
    margin-left: 10%;
    width: 35%;
    height: 56px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.playMarket:hover {
    background-color: #a9abac;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 55rem;
    height: 20rem;
    /* padding: 2rem; */
    background: #f8e6be;
    margin: 5rem 28rem;
}
.profile {
    width: 100%;
    height: 348px;
    margin-left: 5rem;
}

.headText {
    width: 641px;
    height: 112px;
    font-family: "DM Serif Display", serif;
    margin-left: 36rem;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #28514f;
}

.textQuote {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    /* margin-top: 1rem; */
    font-size: 16px;
    color: #65727b;
    text-align: center;
}

.email {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.inputForm {
    display: inline-block;
    width: 276px;
    height: 60px;
    border: none;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: black;
    background: #ffffff;
    box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
    border-radius: 40px 0px 0px 40px;
}

.inputForm:focus {
    outline: none;
}

.confirmButton {
    width: 6rem;
    height: 60px;
    left: 42%;
    right: 0%;
    top: 0px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 36px;
    background: #28514f;
    box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
    border-radius: 0px 40px 40px 0px;
}

.confirmButton:hover {
    background: #21413f;
}

.logo {
    flex: 0 0 60px;
    cursor: pointer;
    margin-right: 56rem;
    max-width: 100%;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #28514f;
}

.list {
    position: relative;
    padding: 0 5rem;
}

.navItem {
    display: inline-block;
    left: 20rem;
}

.navLink {
    list-style: none;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #626464;
    text-decoration: none;
    left: 20rem;
}

.navLink:hover {
    text-decoration: none;
    background-color: rgba(101, 114, 123, 0.2);
    color: #28514f;
    text-decoration: none;
    border-radius: 40px;
}

@media screen and (max-width: 900px) {
    .banner {
        width: 40rem;
        height: 17rem;
        margin: 2rem 40rem;
    }
    .headText {
        margin: 0 40rem;
    }
    .profile  {
        width: 40rem;
        height: 17rem;
    }
    @media screen and (max-width: 420px) {
        .banner {
            padding: 0;
            margin: 0;
            width: 25rem;
            height: 17rem;
            margin: 2rem 40rem;
        }
    }
}
