.container {
    display: flex;
    max-width: 700px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.navbar {
    transition: all 0.4s;
}

.navItem {
    color: rgb(54, 51, 51);
}

.navbar .navLink {
    color: rgb(54, 51, 51);
    float: left;
  color: #685e5e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .navLink:hover,
.navbar .navLink:focus {
    color: rgb(33, 75, 42);
    text-decoration: none;
}

.navbar .navbar-brand {
    color: rgb(54, 51, 51);
}


/* Change navbar styling on scroll */
.navbar.active {
    background: rgb(141, 30, 30);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .navLink {
    color: #555;
}

.navbar.active .navLink:hover,
.navbar.active .navLink:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.borderCircle {
  border-radius: 999px;
}

.title {
    color: rgb(33, 75, 42);
}
.titleBox {
    float: left;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }