.main {
    display: block;
    justify-content: space-around;
    align-items: center;
    /* padding: 10% ; */
}

.headQuote {
    position: relative;
    width: 641px;
    height: 112px;
    left: calc(50% - 641px / 2 + 0.5px);
    top: -5.89px;
    padding: 0;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #28514f;
}

.quote {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #626464;
    text-align: center;
}

.boxed {
    position: relative;
    width: 460px;
    height: 768px;
    left: 22%;
    right: 0%;
    top: 0px;
    background: #dae1f4;
    border-radius: 20px;
}

.textBox {
    position: absolute;
    height: 95px;
    left: 10%;
    right: 0.83%;
    top: 65%;
    color: #1b1f2b;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
line-height: 47px;
}

.bags{
top: 10%;
}

.boxQuote {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #626464;
    text-align: center;
}
