.container {
    display: grid;
    flex-direction: column;
}

.headQuote {
    position: relative;
    width: 641px;
    height: 112px;
    left: calc(50% - 641px / 2 + 0.5px);
    top: -5.89px;
    padding: 0;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #28514f;
}

.quote {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #626464;
    text-align: center;
}

.boxOne {
    position: relative;
    width: 460px;
    height: 768px;
    left: 22%;
    right: 0%;
    top: 7rem;
    background: #dae1f4;
    border-radius: 20px;
}

.img {
    position: absolute;
    left: 10.87%;
    right: 10.87%;
    top: calc(50% - 321px / 2 - 163.5px);
}

.textBox {
    position: absolute;
    height: 95px;
    left: 10%;
    right: 0.83%;
    top: 60%;
    color: #1b1f2b;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.boxQuote {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b1f2b;
    text-align: start;
    top: 80%;
    padding: 0 50px;
}

.boxTwo {
    position: relative;
    float:right;
    width: 460px;
    height: 866px;
    /* left: 22%; */
    right: 15%;
    bottom: 42rem;
    background: #dae1f4;
    border-radius: 20px;
}
